[run]
omit =
    pyplater_cli/pyplater-templates/templates/*
    pyplater_cli/pyplater-templates/snippets/*

[report]
exclude_lines =
    # pragma: no cover
    def __str__
    raise NotImplementedError